form(role='form' method='GET' action='/article')
  div.searchInput
    span.icon-magnify
    input(type="text" placeholder="Title" name="title" value=query.title).fluid
    button(type="submit") Search
  hr
