div#navbar
    div#nav-content
        a(href='/') logo Wlog
    div#nav-content
        a(href='/') Home
        a(href='/articles') Articles
        a(href='/tags') Tags
        a(href='/rss') RSS

    div#nav-content
        a(href='/')
            img(src='#')
        a(href='/') Userzim
        a(href='/')
            img(src='#')
hr
